<!DOCTYPE html>
<html>

	<head>
		<title>
			Dashboard
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href='css/normalize.css' rel='stylesheet' />

        <link href='css/dashboard.css' rel='stylesheet' />

        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	</head>

	<body>
        <div class="page page--dashboard">
            <aside class="page__aside aside vertical">
                <div class="text aside__logo">Sidebar</div>
                <nav class="vertical--small vertical">
                    <a href="#" class="nav-button nav-button--active click">
                        <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                        <span class="text text--light">Home</span>
                    </a>
                </nav>
                <nav class="vertical--small vertical">
                    <a href="#" class="nav-button click">
                        <span class="icon nav-button__icon" style="background-image: url('/svg/nav/Orders.svg')"></span>
                        <span class="text text--light">Orders</span>
                    </a>
                </nav>
                <nav class="vertical--small vertical">
                    <a href="#" class="nav-button click">
                        <span class="icon nav-button__icon" style="background-image: url('/svg/nav/Products.svg')"></span>
                        <span class="text text--light">Products</span>
                    </a>
                </nav>
            </aside>
            <header class="header">
                <div class="layout header__content text--small">
                    <div class="header__search">
                        <input type="text" placeholder="Search" class="field field--header text">
                        <span class="icon header__icon--search" style="background-image: url('/svg/header/search.svg')"></span>
                        <span class="icon header__icon--settings icon-button icon--color-blue click" style="background-image: url('/svg/header/settings.svg')"></span>
                    </div>
                    <div class="icon__header">
                        <span class="icon header__icon icon-button icon--color-yellow click" style="background-image: url('/svg/header/antenna.svg')"></span>
                        <span class="icon header__icon icon-button icon--color-blue-l click" style="background-image: url('/svg/header/translate.svg')"></span>
                        <span class="icon header__icon icon-button icon--color-yellow click" style="background-image: url('/svg/header/signal.svg')"></span>
                    </div>
                </div>
            </header>
            <main class="main">
                <div class="layout">
                    <section class="box analytic__block">
                        <div class="analytic analytic__double analytic--blue">
                            <span class="icon analytic__button icon-button icon--color-blue click" style="background-image: url('/svg/analytic/order.svg')"></span>
                            <div class="analytic__content vertical vertical--small">
                                <div class="analytic__title text text--light">$961</div>
                                <div class="text__info text">Total Order</div>
                                <span class="icon analytic__arrow" style="background-image: url('/svg/analytic/arrow.svg')"></span>
                            </div>
                        </div>

                        <div class="analytic analytic__double analytic--purple">
                            <span class="icon analytic__button icon-button icon--color-purple click" style="background-image: url('/svg/analytic/order2.svg')"></span>
                            <div class="analytic__content vertical vertical--small">
                                <div class="analytic__title text text--light">$500.00</div>
                                <div class="text__info text">Total earning</div>
                                <span class="icon analytic__arrow" style="background-image: url('/svg/analytic/arrow.svg')"></span>
                            </div>
                        </div>
                        <div class="analytic__small analytic--blue">
                            <span class="icon analytic__button icon-button icon--color-blue click analytic__icon" style="background-image: url('/svg/analytic/order2.svg')"></span>
                            <div class="analytic__content vertical vertical--small">
                                <div class="analytic__title__small text text--light">$203k</div>
                                <div class="text__info text">Total Income</div>
                            </div>
                        </div>
                        <div class="analytic__small field">
                            <span class="analytic__button icon-button icon--color-yellow click analytic__icon" style="background-image: url('/svg/analytic/order3.svg')"></span>
                            <div class="vertical vertical--small">
                                <div class="analytic__title__small text ">$203k</div>
                                <div class="text text--gray">Total Income</div>
                            </div>
                        </div>
                                    
                    </section>
                    <section class="operation__blok">
                        <div class="box purchase__blok">
                            <h2 class="purchase__title text ">Purchase list</h2>
                            <hr class="line">
                            <div class="purchase__info">
                                <div class="text__colum"> 
                                    <span class="text">ID437661</span>
                                    <span class="text">May 11, 2023, 14:21</span>
                                </div>
                                <div class="text__colum"> 
                                    <span class="text">AirOn ProCam</span>
                                    <span class="text">7/8 USB Type-C</span>
                                </div>
                                <div class="text__colum"> 
                                    <span class="text">132.32 EUR</span>
                                    <span class="text text--red">Not paid</span>
                                </div>
                                <div class="text__colum"> 
                                    <span class="text">Customer</span>
                                    <span class="text">robin@com.de</span>
                                </div>

                                <hr class="line in">

                                <div class="text__colum"> 
                                    <span class="text">ID437661</span>
                                    <span class="text">May 11, 2023, 14:21</span>
                                </div>
                                <div class="text__colum"> 
                                    <span class="text">PHILIPS Essential</span>
                                    <span class="text">HD9200/90</span>
                                </div>
                                <div class="text__colum"> 
                                    <span class="text">543 USD</span>
                                    <span class="text text--grin">Pay by  Stripe</span>
                                </div>
                                <div class="text__colum"> 
                                    <span class="text">Customer</span>
                                    <span class="text">dima@com.ua</span>
                                </div>
                            </div>
                        </div>
                        <div class="box payment__blok">
                            <h2 class="text text--heading">Payment</h2>
                            <hr class="line">
                            <div class="payment__radio">
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="text text--heading_small" for="flexRadioDefault2">
                                    Credit card
                                </label>
                            </div>
                            <div class="payment__radio">
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="text text--heading_small" for="flexRadioDefault2">
                                    Debit card
                                </label>
                            </div>
                            <div class="payment__radio">
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="text text--heading_small" for="flexRadioDefault2">
                                    PayPal
                                </label>
                            </div>
                                
                            
                            <div class="payment__search">
                                <div>
                                    <span class="text text--heading_small">Name on card</span>
                                    <input type="text" class="field field--payment text">
                                </div>
                                <div>
                                    <span class="text text--heading_small">Credit card number</span>
                                    <input type="text" class="field field--payment text">
                                </div>
                                <div>
                                    <span class="text text--heading_small">Expiration</span>
                                    <input type="text" class="field field--payment text">
                                </div>
                                <div>
                                    <span class="text text--heading_small">CVV</span>
                                    <input type="text" class="field field--payment text">
                                </div>
                            </div>
                            <hr class="line">
                            <div class="select">
                                <div class="field__block click">  
                                    <span class="text text--heading_small">Country</span>
                                    <div class="field field--payment field--select">
                                        <span class="text">Choose...</span>
                                        <span class="icon payment__icon icon-button click" style="background-image: url('/svg/analytic/choose.svg')"></span>
                                    </div>
                                    <select class="field__select">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="abc">ABC</option>
                                        <option value="123">123</option>
                                    </select>
                                </div>

                                <div class="field__block click">  
                                    <span class="text text--heading_small">State</span>
                                    <div class="field field--payment field--select">
                                        <span class="text">Choose...</span>
                                        <span class="icon payment__icon icon-button click" style="background-image: url('/svg/analytic/choose.svg')"></span>
                                    </div>
                                    <select class="field__select">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="abc">ABC</option>
                                        <option value="123">123</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </main>
        </div>
	
	</body>

</html>
