<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href='css/normalize.css' rel='stylesheet' />

        <link href='css/slack.css' rel='stylesheet' />

        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	</head>

	<body>
		<div class="page"> 
            <section class="page_section">
                <div class="page_content hero_section">

                    <div class="hero">
                        <div class="hero_content">
                            <span class="hero_label">Slack Features</span>
                            <h1 class="hero_title">One platform for your team and your work</h1>
                            <p class="hero_info">All the features of Slack work together so you can, too.</p>
                            <div class="hero_button">
                                <a href="#" class="but cnop_1 click">Try for free</a>
                                <a href="#" class="but cnop_2 click">See all features</a>
                            </div>

                            <img src="/img/hero.png" alt="Hero image" class="hero_image">
                        </div>
                    </div>

                    <div class="brands">
                        <img src="/img/brand/airbnb.png" alt="airbnb" class="brand_img">
                        <img src="/img/brand/intuit.png" alt="intuit" class="brand_img">
                        <img src="/img/brand/newscorp.png" alt="newscorp" class="brand_img">
                        <img src="/img/brand/onemedical.png" alt="onemedical" class="brand_img">
                        <img src="/img/brand/sonos.png" alt="sonos" class="brand_img">
                        <img src="/img/brand/target.png" alt="target" class="brand_img">
                        <img src="/img/brand/uber.png" alt="uber" class="brand_img">
                        <img src="/img/brand/veteran-affairs.png" alt="veteran-affairs" class="brand_img">
                    </div>
                </div>
            </section>

            <section class="page_section page_section_light">
                <div class="page_content features_section">
                    <h2 class="features_title">Work more easily with everyone</h2>
                    <p class="features_text">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>

                    <div class="features_grid_4">
                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
                            <strong class="feat_card_title">Slack Connect</strong>
                            <p class="feat_card_text">Collaborate with teams at other companies the same way you do with teams at your own.</p>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Channels.svg')"></span>
                            <strong class="feat_card_title">Channels</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Canvas.svg')"></span>
                            <strong class="feat_card_title">Canvas</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Huddles.svg')"></span>
                            <strong class="feat_card_title">Huddles</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Messaging.svg')"></span>
                            <strong class="feat_card_title">Messaging</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Clips.svg')"></span>
                            <strong class="feat_card_title">Clips</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Accessibility.svg')"></span>
                            <strong class="feat_card_title">Accessibility</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                    </div>
                </div>
            </section>
		</div>
	</body>

</html>
