<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href='css/normalize.css' rel='stylesheet' />

        <link href='css/slack.css' rel='stylesheet' />

        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	</head>

	<body>
		<div class="page"> 
            <section class="page_section">
                <div class="page_content hero_section">

                    <div class="hero">
                        <div class="hero_content">
                            <span class="hero_label">Slack Features</span>
                            <h1 class="hero_title">One platform for your team and your work</h1>
                            <p class="hero_info">All the features of Slack work together so you can, too.</p>
                            <div class="hero_button">
                                <a href="#" class="but cnop_1 click">Try for free</a>
                                <a href="#" class="but cnop_2 click">See all features</a>
                            </div>

                            <img src="/img/hero.png" alt="Hero image" class="hero_image">
                        </div>
                    </div>

                    <div class="brands">
                        <img src="/img/brand/airbnb.png" alt="airbnb" class="brand_img">
                        <img src="/img/brand/intuit.png" alt="intuit" class="brand_img">
                        <img src="/img/brand/newscorp.png" alt="newscorp" class="brand_img">
                        <img src="/img/brand/onemedical.png" alt="onemedical" class="brand_img">
                        <img src="/img/brand/sonos.png" alt="sonos" class="brand_img">
                        <img src="/img/brand/target.png" alt="target" class="brand_img">
                        <img src="/img/brand/uber.png" alt="uber" class="brand_img">
                        <img src="/img/brand/veteran-affairs.png" alt="veteran-affairs" class="brand_img">
                    </div>
                </div>
            </section>

            <section class="page_section page_section_light">
                <div class="page_content features_section">
                    <h2 class="features_title">Work more easily with everyone</h2>
                    <p class="features_text">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>

                    <div class="features_grid_4">
                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
                            <strong class="feat_card_title">Slack Connect</strong>
                            <p class="feat_card_text">Collaborate with teams at other companies the same way you do with teams at your own.</p>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Channels.svg')"></span>
                            <strong class="feat_card_title">Channels</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Canvas.svg')"></span>
                            <strong class="feat_card_title">Canvas</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Huddles.svg')"></span>
                            <strong class="feat_card_title">Huddles</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Messaging.svg')"></span>
                            <strong class="feat_card_title">Messaging</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Clips.svg')"></span>
                            <strong class="feat_card_title">Clips</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Accessibility.svg')"></span>
                            <strong class="feat_card_title">Accessibility</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page_section page_section_light">
                <div class="features2 page_content">
                    <div class="features2_info">
                        <h2 class="features_title">What you need, when you need it</h2>
                        <p class="features_text">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
                    </div>

                    <div class="features_grid_3">
                        <div class="feat_card_big">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/pazl.svg')"></span>
                            <strong class="feat_card_title">Apps and Integrations</strong>
                            <p class="feat_card_text">Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                        <div class="feat_card_big">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/lightmin.svg')"></span>
                            <strong class="feat_card_title">Workflow Builder</strong>
                            <p class="feat_card_text">Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/Search.svg')"></span>
                            <strong class="feat_card_title">Search</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon feat_icon" style="background-image: url('/svg/feature/File.svg')"></span>
                            <strong class="feat_card_title">File sharing</strong>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page_section deliver_section">
                <div class="deliver">
                    <img src="/img/img-deliveroo.png" alt="deliveroo" class="deliv_img">
                    <strong class="quote">“The thing that keeps us connected
                        the most is Slack. It’s a very
                        immediate and straightforward
                        method of communication, and
                        really the only channel that people
                        prefer and enjoy using.”
                    </strong>
                    <img src="/img/brand/deliveroo.png" alt="deliveroo" class="del_img">
                    <strong class="author">Will Sprunt, CIO, Deliveroo</strong>
                </div>
            </section>

            <section class="page_section footer">
                <div>
                    <h2 class="footer_title">Explore more about working in Slack</h2>
                    <div class="footer_block">
                        <div class="footer_card">
                            <img src="/img/slack-101.png" alt="101" class="footer_img">
                            <span class="img_title">Slack Tutorials</span>
                            <h4 class="fcard_title">Slack 101</h4>
                            <span class="card_link">Learn more </span>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                        <div class="footer_card">
                            <img src="/img/slack-101.png" alt="101" class="footer_img">
                            <span class="img_title">Slack vs. Email</span>
                            <h4 class="fcard_title">An easier, more organized way to work</h4>
                            <span class="card_link">Learn more </span>
                            <a href="#" class="icon arrow_icon click feat_linc"></a>
                        </div>
                        <div class="footer_card">
                            <img src="/img/slack-101.png" alt="101" class="footer_img">
                            <span class="img_title">Customer Stories</span>
                            <h4 class="fcard_title">How Fastly uses Slack Connect to wow enterprise customers</h4>
                            <span class="card_link">Learn more </span>
                            <a href="#" class="icon_footer arrow_icon click feat_linc"></a>
                        </div>
                    </div>
                </div>

            </section>
		</div>
	</body>

</html>
