@layer normalize, component, variant, main, adaptive;

@font-face {
    font-family:'HelveticaNeueBold';
    src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
    .but {
        color: var(--color-black);
        padding: var(--spacing-3);
        border-radius: var(--radius-1);
        text-align: center;
        border: 1px solid transparent;
    }
    .click {
        transition: opacity var(--transition-1);
    }
    .click:hover {
        opacity: var(--opacity-1);
        cursor: pointer;
    }

    .click:active {
        opacity: var(--opacity-2);
    }

    .icon {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
    }
} 

@layer variant {
    .cnop_1 {
        color: var(--color-white);
        background: var(--color-primary);
    }

    .cnop_2 {
        color: var(--color-primary);
        border-color: var(--color-primary);
        border-width: 2px;
    }

    .feat_icon {
        width: 48px;
        height: 48px;
    }

    .arrow_icon {
        width: 24px;
        height: 14px;
        background-image: url('/svg/arrow_right.svg');
    }

    .icon_footer {
        display: flex;
        background-repeat: no-repeat;
        background-position: center center;
        align-items: flex-end;

    }
}

body {
    font-family: 'HelveticaNeueBold', sans-serif;
    background-color: var(--color-white);
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #611F69;
    --color-light: #F4EDE4;


    --page-width-big: 1260px;
    --page-width-medium: 1000px;
    --page-width-small: 700px;

    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 20px;
    --spacing-5: 24px;
    --spacing-6: 28px;
    --spacing-7: 32px;
    --spacing-8: 36px;

    --size-1: 14px;
    --size-2: 18px;
    --size-3: 22px;
    --size-4: 26px;
    --size-5: 30px;
    --size-6: 34px;

    --radius-1: 4px;

    --opacity-1: 0.7;
    --opacity-2: 0.3;

    --transition-1: 0.7s;
}
@layer main {
    .page {
        display: grid;
        width: max-content;
    }
    .page_section {
        display: flex;
        justify-content: center;
    }
    .page_content {
        width: 100%;
        padding: var(--spacing-3);
    }
    .hero_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 200px;

        min-height: 600px;
    }
    .hero {
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    .hero_content {
        display: grid;
        gap: var(--spacing-5);
        max-width: 425px;
        color: var(--color-black);
        position: relative;
    }
    .hero_label {
        font-size: var(--size-1);
    }
    .hero_title {
        font-size: 50px;
    }
    .hero_info {
        font-size: var(--size-2);
    }

    .hero_button {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-5);
    }

    .cnop_1 {
        color: var(--color-white);
        background: var(--color-primary);
        text-decoration: none;
    }

    .cnop_2 {
        color: var(--color-primary);
        border-color: var(--color-primary);
        border-width: 2px;
        text-decoration: none;
    }

    .hero_image {
        position: absolute;
        left: 580px;
        top: 0;
    }

    .brands {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--spacing-8);
        row-gap: var(--spacing-4);
        flex-wrap: wrap;
        width: 100%;
    }

    .page_section_light {
        background-color: var(--color-light);
    }

    .features_section {
        padding-top: 150px;
        padding-bottom: 150px;

        display: grid;
        gap: var(--spacing-5);

        background-image: url('/img/features.png');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .features_title {
        font-size: var(--size-6);
    }

    .features_text {
        font-size: var(--size-2);
        max-width: 520px;
        line-height: 1.5em;
    }

    .feat_card {
        padding: var(--spacing-3);
        background-color: var(--color-white);
        gap: var(--spacing-3);
        display: grid;
        font-size: var(--size-2);

        grid-template-rows: min-content min-content 1fr min-content;
    }

    .feat_card_text {
        line-height: 1.5em;
    }

    /* .icon {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
    } */
    /* .feat_icon {
        width: 48px;
        height: 48px;
    }

    .arrow_icon {
        width: 24px;
        height: 14px;
        background-image: url('/svg/arrow_right.svg');
    }  */

    .feat_linc {
        justify-self: flex-end;
    }

    .features_grid_4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        gap: var(--spacing-3);
    }

    .features_grid_4 > .feat_card:first-of-type {
        grid-row: 1 / 3;
    }

    .features_grid_3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        gap: var(--spacing-3);
    }

    .feat_card_big {
        grid-row: 1 / 3;
        padding: var(--spacing-3);
        background-color: var(--color-white);
        gap: var(--spacing-3);
        display: grid;
        font-size: var(--size-2);
        min-width: 300px;
    }

    .features_grid_3 > .feat_card_big:first-of-type {
        margin-left: 330px;
    }

    .features2 {
        padding-top: 80px;
        padding-bottom: 150px;

        display: grid;
        gap: var(--spacing-5);

        background-image: url('/img/feature-2.png');
        background-repeat: no-repeat;
        background-position: left top;
    }

    .features2_info {
        margin-left: 630px;
    }

    .deliver_section {
        background-color: var(--color-white);
        display: flex;
        width: 1020px;
        align-items: center;
        gap: 38px;
        
    }

    .deliver {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr;
        gap: 24px;
        margin-top: 70px;
        margin-left: 650px;
        margin-bottom: 50px;
    }
    .deliv_img {
        width: 556px;
        height: 230px;

        grid-row: 1 / 4;

    }

    .quote {
        color: var(--color-black);
        font-size: 28px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.3px;
        width: 387px;
    }

    .author {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 700;
    }
    .del_img {
        width: 147px;
        height: 40px;
    }

    .footer {
        padding: 110px 345px 80px 345px;
        align-items: flex-start;
        align-self: stretch;
    }

    .footer_block {
        display: flex;
        padding: 0px 0.05px 6.94px 0px;
        align-items: flex-start;
        gap: 75.47px;
    }

    .footer_card {
        background: #FFF;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);

        width: 285px;
        height: 420px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .img_title {
        color: #454245;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.1px;
        padding-left: 12px;
    }

    .fcard_title {
        color: #000;
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        padding-left: 12px;
    }

    .footer_img {
        width: 285px;
        height: 210px;
        flex-shrink: 0;
    }

    .card_link {
        color: #1264A3;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        padding-left: 12px;
        padding-bottom: 12px;
    }

    .footer_title {
        color: var(--color-black);
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.3px;
        padding-bottom: 40px;
    }
}

@layer adaptive {
    @media all and (1260px <= width) {
        .page_content {
            max-width: var(--page-width-big);
        }
    }
    @media all and (1000px <= width < 1260px) {
        .page_content {
            max-width: var(--page-width-medium);
        }

        .hero_image {
            left: 518px;
            height: 300px;
        }
    }
    @media all and (width < 1000px) {
        .page_content {
            max-width: var(--page-width-small);
        }

        .hero_image {
            position: static;
            width: 100%;
            order: -1;
        }
        .hero_content {
            max-width: 100%;
        }
        .features_grid_4 {
            grid-template-columns: repeat(3, 1fr);
        }
        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;
        }

        .features_section {
            background: none;
        }
    }

    @media all and (width < 600px) {
        .features_grid_4 {
            grid-template-columns: 2fr, 2fr;
        }
    }

    @media all and (width < 400px) {
        .features_grid_4 {
            grid-template-columns: 1fr;
        }

        .hero_button { 
            grid-template-columns: 1fr;
            gap: var(--spacing-2);
        }
    }
}